In [ ]:
import xlrd

# Open the workbook and select the first worksheet
wb = xlrd.open_workbook(r'C:\DanielBots\bot4\descargas\52906_arceoCajaBs.xls')
#sh = wb.sheet_by_index(0)
sh = wb.sheet_by_index(0)
print("{0} {1} {2}".format(sh.name, sh.nrows, sh.ncols))

for rx in range(sh.nrows):
    for cx in range(sh.ncols):
        print(sh.cell_value(rx, cx), end=' ')
    #print(sh.row(rx))

In [ ]:
ventasEfectuadas={}
ventasEfectuadas["alContado"]={}
ventasEfectuadas["alContado"]["Bs"]=""
ventasEfectuadas["alContado"]["Us"]=""
ventasEfectuadas["alCredito"]={}
ventasEfectuadas["alCredito"]["Bs"]=""
ventasEfectuadas["alCredito"]["Us"]=""
ventasEfectuadas["total"]={}
ventasEfectuadas["total"]["Bs"]=""
ventasEfectuadas["total"]["Us"]=""
ventasEfectuadas["totalEfectivo"]["Us"]=""
ventasEfectuadas["totalEfectivo"]["Eq Bs"]=""

voucherTarjetas={}
voucherTarjetas["Bs."]
voucherTarjetas["Fecha"]
voucherTarjetas["Nro. Ref"]
voucherTarjetas["Nro. Cl"]

vales={}

In [ ]:
dataxlsFiles={}
dataxlsFiles["Agencia"]={}

dataxlsFiles["Agencia"]["VentasEfectuadas"]={}
dataxlsFiles["Agencia"]["VentasEfectuadas"]["alContado"]={}
dataxlsFiles["Agencia"]["VentasEfectuadas"]["alContado"]["Bs"]="1"
dataxlsFiles["Agencia"]["VentasEfectuadas"]["alContado"]["Us"]="2"
dataxlsFiles["Agencia"]["VentasEfectuadas"]["alCredito"]={}
dataxlsFiles["Agencia"]["VentasEfectuadas"]["alCredito"]["Bs"]="3"
dataxlsFiles["Agencia"]["VentasEfectuadas"]["alCredito"]["Us"]="4"

dataxlsFiles["Agencia"]["VentasEfectuadas"]["total"]={}
dataxlsFiles["Agencia"]["VentasEfectuadas"]["total"]["Bs"]=""
dataxlsFiles["Agencia"]["VentasEfectuadas"]["total"]["Us"]=""

dataxlsFiles["Agencia"]["VentasEfectuadas"]["totalEfectivo"]={}
dataxlsFiles["Agencia"]["VentasEfectuadas"]["totalEfectivo"]["Us"]=""
dataxlsFiles["Agencia"]["VentasEfectuadas"]["totalEfectivo"]["Eq Bs"]=""

dataxlsFiles["Agencia"]["VoucherTarjetas"]={}
dataxlsFiles["Agencia"]["VoucherTarjetas"]["Bs."]=""
dataxlsFiles["Agencia"]["VoucherTarjetas"]["Fecha"]=""
dataxlsFiles["Agencia"]["VoucherTarjetas"]["Nro. Ref"]=""
dataxlsFiles["Agencia"]["VoucherTarjetas"]["Nro. Cl"]=""
dataxlsFiles["Agencia"]["Vales"]={}
dataxlsFiles["Agencia"]["Vales"]["Bs."]=""
dataxlsFiles["Agencia"]["Vales"]["Cantidad"]=""
dataxlsFiles["Agencia"]["Vales"]["Cliente"]=""
dataxlsFiles["Agencia"]["Vales"]["Bs"]=""

dataxlsFiles["Agencia"]["depositoFijo"]={}
dataxlsFiles["Agencia"]["depositoFijo"]["fecha"]=""
dataxlsFiles["Agencia"]["depositoFijo"]["N Voucher"]=""
dataxlsFiles["Agencia"]["depositoFijo"]["Monto Bs"]=""
dataxlsFiles["Agencia"]["depositoFijo"]["Depositante"]=""
dataxlsFiles["Agencia"]["depositoFijo"]["nro de cta bancaria"]=""

print(dataxlsFiles)

In [ ]:
import json
with open('dataxlsFiles.json', 'w') as fp:
    json.dump(dataxlsFiles, fp, sort_keys=True, indent=4)

In [ ]:
dataxlsFiles={}
dataxlsFiles["Agencia"]={}

dataxlsFiles["Agencia"]["VentasEfectuadas"]={}
dataxlsFiles["Agencia"]["VentasEfectuadas"]["alContado"]={}
dataxlsFiles["Agencia"]["VentasEfectuadas"]["alContado"]["Bs"]="1"
dataxlsFiles["Agencia"]["VentasEfectuadas"]["alContado"]["Us"]="2"
dataxlsFiles["Agencia"]["VentasEfectuadas"]["alCredito"]={}
dataxlsFiles["Agencia"]["VentasEfectuadas"]["alCredito"]["Bs"]="3"
dataxlsFiles["Agencia"]["VentasEfectuadas"]["alCredito"]["Us"]="4"
dataxlsFiles["Agencia"]["VentasEfectuadas"]["total"]={}
dataxlsFiles["Agencia"]["VentasEfectuadas"]["total"]["Bs"]=""
dataxlsFiles["Agencia"]["VentasEfectuadas"]["total"]["Us"]=""
print(dataxlsFiles)

In [ ]:
import base64
string64 =""
image = open("image.png", "wb")
image.write(string64.decode('base64'))
image.close()
# filename = 'some_image.png'  # I assume you have a way of picking unique filenames
# with open(filename, 'wb') as f:
#     f.write(imgdata)

In [ ]:
import base64
string64=''
with open("imageToSave.png", "wb") as fh:
    fh.write(base64.decodebytes(string64))

In [ ]:
import base64
from PIL import Image
from io import BytesIO
with open("descarga2.png", "rb") as image_file:
    data = base64.b64encode(image_file.read())
#data=''
print(type(data))
im = Image.open(BytesIO(base64.b64decode(data)))
im.save('image1.png', 'PNG')

In [ ]:
data=b'9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCABQAMgDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwDrfMo8yqnme9Hme9ddjgLfmUeZVTzPejzPeiwFvzKPMqp5nvR5nvRYC35lHmVU8z3o8z3osBb8yjzKqeZ70eZ70WAt+ZR5lVPM96PM96LAW/Mo8yqnme9Hme9FgLfmUeZVTzPejzPeiwFvzKPMqp5nvR5nvRYC35lHmVU8z3o8z3osBb8yjzKqeZ70eZ70WAt+ZR5lVPM96PM96LAW/Moqp5nvRRYCp5lHmVU8yjzK0sIt+ZR5lVPMo8yiwFvzKPMqp5lHmUWA7GPwVqkkauJrQbgDgu2R/wCO1W1LwxfaVYvdzzWxjUgYRmJOTjuK5fzK7TxMwsPCWkWPRnAdh9F5/VqzlzJrU0jytPToc/YW0uo3sVpAV8yQ4BY8DjPNb/8Awg+q/wDPez/77b/4mqngOHz9eaU9IYmYfU4H9TWNezS6nrdw0KNLJNMxRUGSeew+lN3crIUUuXmZd1XR77R3Auox5bHCyIcq3+H40/StHudYSY2ssIaLko7EMfpxWz4quWtPDFhp95L5l+213y2SMA8n88Z781geF9W/s3XYHdsQynypPoe/4HFKN5RY5KMZIpFyCQeCOCK1W0S7j0ganPJDBC33FkYh39MADvXR3Hhe3TxBcandsi6ao84qehbuD7d/xxXJeIPEEmtX28ZS2j4hj9B6n3NJS5rKI3BRu5FeFZbiZYoI3kkb7qoMk10MPgvV5Yg7m3hY/wADyEkfkCP1q0jJ4P8ADUdxsVtTvBxu/hHXH0HH41xd1f3F7OZrmZ5ZD/E5z+A9B7U9ZP3SbKKvI1tU0m90eRVukXa5Ox0bKtj9fzpmnaZfarKUtIS4H3nPCr9T/TrVKO4vNTktLAzPIA4SFWOQucD8uBXU+JdR/sCzt9D02QxEJumkXhj+Pqep/Cm7qy6glFtvoQz+DNWhhaRTbzEfwRudx/MAVzjMyMVYEMDggjkGr3ha/mtvEFqsTkLNII3XPDA+tP8AF6JB4muljwA21yB6kAmkrqVmDUXG6M3zKPMqp5lHmVpYgt+ZR5lVPMo8yiwFvzKKqeZRRYCp5lHmVU8yjzK0sSW/Mo8yqnmUeZRYC35lHmVU8yul8O2Hh/UrCeLUNTNnflsxM/yooA9Twck9Mg8cUnorjSu7Gdp0RvNStbYcmWVU/M10/wARLzdrcFsG+WGEcehJ/wAAKfY2/hrwnN/aM2sx6ncqD5EVuAcH1OCefckd+prjdV1aXVtTnvpsB5WztHRR0A/AVn8ck1sjS3JF33Z3HguX+zvD2sauVBKDCZ7lRnH5kVDb/EnUBOn2i0tWhz8wjDK2PYlj/KrGjjTLjwCumSa3ZWc1wxeQvIpZfmzgruHYCqVvo3hbRZlvL/xBDfqjZSG3AOWHPzBSxx+Q9ah8rm+ZFLm5Fyi+PtPgsr+3vIS+bsMzh2LcjHPP16e1ZvhjQZdfv9pylpEczSD/ANBHuai1fWH8X+IYwJIrS2HyRm4kVAi92JJ6+w+la/iHX7LRtGi0DQZ0kVkzPcxsGznqMjue/oOPo480YKPUUlGU2+h0mvtBrvhO7/s2dnWzfBCtw2zqPcY5H0Fea6dtm1O0iblXmRT9CRW14A16HTtUltbuZI7W5TlpGAVWHTJPAyMj8qxNaSHTtenWxuYpYVk3wyQyBgB1HI7jp+FOnHkly/MVR88eb5HVfEadv7ZtYjwiwbh9Sxz/ACFS+FdV02/uLPSW8P2rybCHuXCsTgEkkbf61Jc6h4e8a2EH2y/XTdShTrIQFHTPJwGHoMg0mjW/h/wnetqE3iO2uyyGNUhTcQTzn5WY9vbrUKyhyyWpbvKfNHYNPW2l+J0kdvDHFDAWCoihQCqYPA981zvim5aXxPqBY8iUqPoOB/KqWl6+1h4lTVnVnBlZpFB5IbOfx5rtNR8N6P4mkl1ux1qOCFhmcsgIUjuckFfx+tVbkcXLtYXxqSXf8DG8C2T3viKObB8q2UyMffoB+f8AKs3xFqK6h4gvLhGzG0m1D6gcD+Va+peINJ0HSZdH8OuZpJsi4vD37YB7+xHGOmSa4nzKqKcpc3Qh+7Hl6lvzKPMqp5lHmVrYzLfmUeZVTzKPMosBb8yiqnmUUWAp+ZR5lVPMo8ytLCLfmUeZVTzKPMosBb8yuq0e18GzaVDJq2r3lvfHd5kcaEqvzHGP3Z7Y71xXmUeZUyjdbjjKx6H9g+Hn/Qf1D/v2f/jVH2D4ef8AQf1D/v2f/jVeeeZR5lT7J/zMr2nkj0P7B8PP+g/qH/fs/wDxqj7B8PP+g/qH/fs//Gq888yjzKPZP+Zh7TyR6H9g+Hn/AEH9Q/79n/41R9g+Hn/Qf1D/AL9n/wCNV555lHmUeyf8zD2nkj0P7B8PP+g/qH/fs/8Axqj7B8PP+g/qH/fs/wDxqvPPMo8yj2T/AJmHtPJHof2D4ef9B/UP+/Z/+NUfYPh5/wBB/UP+/Z/+NV555lHmUeyf8zD2nkj0P7B8PP8AoP6h/wB+z/8AGq2tI1bwNo+n3dhHq889vdf6xJ4XPbBwVQdq8i8yjzKTo3Vm2NVbO6SPR0s/h0okB1m9fcMAsj/Jz1GI+vbnNcxr6aNb36Jod5NdWpiBZ5hgh8nI+6vGMdu9c/5lHmVUadne7E53Wxb8yjzKqeZR5lXYgt+ZR5lVPMo8yiwFvzKKqeZRRYCp5lHmVU8yjzK0sSW/Mo8yqnmUeZRYC35lHmVU8yjzKLAW/Mo8yqnmUeZRYC35lHmVU8yjzKLAW/Mo8yqnmUeZRYC35lHmVU8yjzKLAW/Mo8yqnmUeZRYC35lHmVU8yjzKLAW/Mo8yqnmUeZRYC35lHmVU8yjzKLAW/Mo8yqnmUeZRYC35lFVPMoosB//Z'
im = Image.open(BytesIO(base64.b64decode(data)))
im.save('image1.png', 'PNG')

In [ ]:
#create a colecction data
import json
dataSgv = {}
dataSgv['NroKardex']="123456"
dataSgv['Type']="distribuidora"
dataSgv['LocalTrx']={}
dataSgv['DolarTrx']={}

#convert to json file
json_data = json.dumps(dataSgv)

with open('data.json', 'w') as f:
    json.dump(json_data, f,sort_keys=True, indent=4)

In [ ]:
import json
dataxlsFiles={}
dataxlsFiles["boxClose"]="123456"
dataxlsFiles["type"]={}

dataxlsFiles["type"]["agency"]={}
dataxlsFiles["type"]["agency"]["localFile"]={}
dataxlsFiles["type"]["agency"]["dolarFile"]={}
dataxlsFiles["type"]["distributor"]={}
dataxlsFiles["type"]["distributor"]["localFile"]={}
dataxlsFiles["type"]["distributor"]["dolarFile"]={}
dataxlsFiles["type"]["distributor"]["cashiersFile"]={}
with open('dataxlsFiles.json', 'w') as fp:
    json.dump(dataxlsFiles, fp, sort_keys=True, indent=4)

print(dataxlsFiles)

In [ ]:
import json
import pandas as pd
#read json file 
with open(r'C:\DanielBots\bot4\data.json') as json_file:
    data = json.load(json_file)
    #print(data)
listdata=data['data']
for row in listdata:
    print(row['Código'])
#print(type(data['data']))
#df=pd.DataFrame(data['data'])
#print(df)
#df

In [ ]:
#create a function that modify a variable without return


def modifyVar(x):
    for y in range(x):    
        xlsxFilesList.append(x)
def called():
    allList=[]
    global xlsxFilesList
    for i in range(10):
        xlsxFilesList=[]
        modifyVar(i)
        nwdict={
            "boxClose":i,
            "files":xlsxFilesList
        }
        allList.append(nwdict)
    print(allList)

In [ ]:
#edit json file
import json
with open(r'C:\DanielBots\bot4\data.json',"r") as json_file:
    data = json.load(json_file)
for row in data['data']:
    row['NuevaData']={}
with open('target\CashClosingInfo.json',"w") as json_file:
    json.dump(data,json_file,indent=4)

    #print(data)

In [ ]:
# data frame example
import pandas as pd
import json
listCountryes=[{"countrName":"Peru",
    "CountryCode":"PE",
    "CountryLanguage":"Spanish",
    "PIB":"1000"
},
{"countrName":"Chile",
    "CountryCode":"CL",
    "CountryLanguage":"Spanish",
    "PIB":"2000"
},
{"countrName":"Colombia",
    "CountryCode":"CO",
    "CountryLanguage":"Spanish",
    "PIB":"3000"
}]

northAmerica=[{"countrName":"USA",
    "CountryCode":"US",
    "CountryLanguage":"English",
    "PIB":"8000"
},
{"countrName":"CANADA",
    "CountryCode":"CA",
    "CountryLanguage":"English",
    "PIB":"2000"
},
{"countrName":"MEXICO",
    "CountryCode":"MX",
    "CountryLanguage":"Spanish",
    "PIB":"3000"
}]

df1=pd.DataFrame(listCountryes)
df2=pd.DataFrame(northAmerica)
#save df1 to txt file
with open('data.txt', 'w') as f:
    f.write(df1.to_string())

In [ ]:
#read data txt file
df=pd.read_csv('data.txt',sep=';')
df

#save to excel file
df1.to_excel('data.xlsx',index=False,sheet_name='southAmerica')

In [ ]:
x="ALFREDO MENDOZA APAZA_14022023_4447.10.xlsx"
y=x[:-5]
print(y)

In [ ]:
n="1.7"
#convert to float with 2 decimals 1.70
print("{:.2f}".format(float(n)))

In [ ]:
import json
with open(r'C:\DanielBots\bot4\src\target\FullExcelData.json',"r") as json_file:
        data = json.load(json_file)

for d in data["data"]:
    print(d['Código'])

In [35]:
import pandas as pd

df_bills=pd.read_csv(r'C:\DanielBots\bot4\Tablas\billsTable.csv',sep=';')
df_coins=pd.read_csv(r'C:\DanielBots\bot4\Tablas\coinsTable.csv',sep=';')
df_transfers=pd.read_csv(r'C:\DanielBots\bot4\Tablas\banktransfersTable.csv',sep=';')
df_vouchers=pd.read_csv(r'C:\DanielBots\bot4\Tablas\voucherTable.csv',sep=';')
#concat all dataframes
df_all=pd.concat([df_bills,df_coins,df_transfers,df_vouchers],ignore_index=True)
#save to csv file
df_all.to_csv(r'C:\DanielBots\bot4\Tablas\allTable.csv',index=False,sep=';')

In [ ]:
#normalize data with pandas
import pandas as pd

df = pd.DataFrame({'team': ['A', 'B', 'C', 'D', 'E'],
                   'points': [18, 22, 19, 14, 14],
                   'assists': [5, 7, 7, 9, 12],
                   'rebounds': [11, 8, 10, 6, 6]})
df_unpivot = pd.melt(df, id_vars='team', value_vars=['points', 'assists', 'rebounds'])
df_unpivot

In [32]:
df_A=pd.DataFrame({'marca': ['A', 'B', 'C', 'D', 'E'],
                   'serie': [18, 22, 19, 14, 14],
                   'edad': [5, 7, 7, 9, 12],
                   'puntaje': [11, 8, 10, 6, 6]})
df_B=pd.DataFrame({'marca': ['F', 'G', 'H', 'I', 'J'],
                   'serie': [18, 22, 19, 14, 14],
                   'numero': [5, 7, 7, 9, 12],
                   'puntaje': [11, 8, 10, 6, 6]})
df_E=pd.DataFrame({'marca': ['F', 'G', 'H', 'I', 'J'],
                   'serie': [18, 22, 19, 14, 14],
                   'numero': [5, 7, 7, 9, 12],
                   'puntaje': [11, 8, 10, 6, 6]})

#append 3 dataframes
df_all=pd.concat([df_A,df_B,df_E],ignore_index=True)
df_all

   marca  serie  edad  puntaje  numero
0      A     18   5.0       11     NaN
1      B     22   7.0        8     NaN
2      C     19   7.0       10     NaN
3      D     14   9.0        6     NaN
4      E     14  12.0        6     NaN
5      F     18   NaN       11     5.0
6      G     22   NaN        8     7.0
7      H     19   NaN       10     7.0
8      I     14   NaN        6     9.0
9      J     14   NaN        6    12.0
10     F     18   NaN       11     5.0
11     G     22   NaN        8     7.0
12     H     19   NaN       10     7.0
13     I     14   NaN        6     9.0
14     J     14   NaN        6    12.0

In [1]:
#loop dictionary

dict_sample={"us":1,"pe":2,"cl":3}
for key,value in dict_sample.items():
    print(key,value)

us 1
pe 2
cl 3

In [6]:
import json
data2=[4,5,6]
with open (r'C:\DanielBots\bot4\src\target\CashClosingInfo.json',"r") as json_file:
    data=json.load(json_file)
data['data'].extend(data2)
with open (r'C:\DanielBots\bot4\src\target\CashClosingInfo.json',"w") as json_file:
    json_file.write(json.dumps(data,indent=4))
    #update json file

In [15]:
#evaluate if json file is empty
import json

data={"data":[]}
with open(r'C:\DanielBots\bot4\src\target\CashClosingInfo.json',"w") as json_file:
    json_file.write(json.dumps(data,indent=4))

In [18]:
import re
filename="LA PAZ_FRANKLIN CARDOZO RIVERA_15022023_10706.40"
recaud=re.findall(r'(.*?)_', filename)[0]
print(recaud)

LA PAZ_FRANKLIN CARDOZO RIVERA_15022023